{
	"root": true,
	"env": {
		"browser": true,
		"es6": true,
		"node": true
	},
	"globals": {
	},
	"extends": [
		"@zotero",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended"
	],
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"ecmaVersion": 2018,
		"ecmaFeatures": {
			"jsx": true
		},
		"sourceType": "module",
		"babelOptions": {
			"configFile": "./babel.config.js"
		}
	},
	"plugins": [
		"react"
	],
	"overrides": [
		{
			"files": ["*.{ts,tsx}"],
			"parser": "@typescript-eslint/parser",
			"plugins": ["@typescript-eslint"],
			"extends": ["plugin:@typescript-eslint/recommended"],
			"rules": {
				"@typescript-eslint/no-non-null-assertion": "off",
				"@typescript-eslint/ban-ts-comment": "off",
				"@typescript-eslint/no-unused-vars": ["error", {
					"argsIgnorePattern": "^_",
					"varsIgnorePattern": "^_"
				}],
				"no-unused-vars": "off",
				"prefer-const": "off"
			}
		}
	],
	"settings": {
		"react": {
			"version": "16.14"
		}
	},
	"rules": {
		"no-await-in-loop": "off",
		"func-names": ["error", "as-needed"]
	}
}
