<!DOCTYPE html>
<html lang="en" dir="ltr" style="--sidebar-width: 240px; --split-view-size: 50%; --bottom-placeholder-height: 50px; --toolbar-placeholder-width: 0px">
<head>
	<meta charset="UTF-8">
	<title>Zotero Reader</title>
	<% if (build === "zotero") { %>
	<script>delete window.performance</script>
	<script src="resource://zotero/react.js"></script>
	<script src="resource://zotero/react-dom.js"></script>
	<script src="resource://zotero/react-intl.js"></script>
	<script src="resource://zotero/prop-types.js"></script>
	<link rel="localization" href="zotero.ftl"/>
	<link rel="localization" href="reader.ftl"/>
	<% } %>
</head>
<body class="sidebar-open">
	<div id="reader-ui"></div>
	<div id="split-view">
		<div id="primary-view" class="primary-view"></div>
		<div id="secondary-view" class="secondary-view"></div>
	</div>
	<div id="printContainer"></div>
</body>
</html>
