//
// Base
//

*,
::before,
::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

::selection {
	//color: $selection-color;
	//background-color: $selection-bg;
}

::-moz-focus-inner {
	border: 0;
}

:root, body {
	overscroll-behavior: none;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	// TODO: Remove --note-font-size, as it's probably not necessary to change font size for highlights and comments
	--note-font-size: 13 / 16 * 1rem;
}

:root {
	color-scheme: light dark;
	background-color: transparent;
	font-family: var(--font-family);
	font-size: var(--font-size);
	font-style: normal;
	@if $platform == 'zotero' {
		@media (-moz-platform: windows) {
			--color-accent: var(--accent-blue);
			@include light-dark(--color-focus-border, #000, #fff);
			--width-focus-border: 2px;
		}
		@media (-moz-platform: macos) {
			--color-accent: SelectedItem;
			--color-focus-border: color-mix(in srgb, var(--color-accent) 70%, transparent);
			--width-focus-border: 3px;
		}
		@media (-moz-platform: linux) {
			--color-accent: SelectedItem;
			--color-focus-border: var(--color-accent);
			--width-focus-border: 2px;
		}
	} @else if $platform == 'web' {
		--color-accent: SelectedItem;
		--color-focus-border: color-mix(in srgb, var(--color-accent) 70%, transparent);
		--width-focus-border: 3px;
	} @else if $platform == 'dev' {
		--color-accent: SelectedItem;
		--color-focus-border: color-mix(in srgb, var(--color-accent) 70%, transparent);
		--width-focus-border: 3px;
	}
	--color-focus-search: color-mix(in srgb, var(--color-accent) 70%, transparent);
}

// Remove default button styling
button {
	all: unset;
	outline: revert;
	display: block;
	box-sizing: border-box;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	outline: inherit;
	cursor: default;
	user-select: none;

	&:focus-visible {
		outline: none;
		border-color: rgba(0,0,0,0) !important;
		box-shadow: 0 0 0 var(--width-focus-border) var(--color-focus-search) !important;
	}

	&:-moz-focusring {
		outline: none;
		border-color: rgba(0,0,0,0) !important;
		box-shadow: 0 0 0 var(--width-focus-border) var(--color-focus-search) !important;
	}

	@if $platform == "web" {
		&:not([disabled]) {
			cursor: pointer;
		}
	}

	&:disabled {
		opacity: $btn-disabled-opacity;
	}
}

input:not([type="checkbox"]),
button,
select {
	font-family: inherit;
	font-size: inherit;
	outline: none;
}

input {
	color: var(--fill-primary);
}

input[type="range"] {
	-moz-appearance: none;
	background: transparent;
	accent-color: var(--accent-blue);

	&::-moz-range-track {
		border-radius: 2px;
		background: var(--fill-quinary);
		box-shadow: 0 0   2px 0 rgba(0, 0, 0, 0.04) inset,
					0 0   2px 0 rgba(0, 0, 0, 0.03) inset,
					0 1px 2px 0 rgba(0, 0, 0, 0.02) inset;
	}

	&::-moz-range-progress {
		height: 4px;
		border-radius: 2px;
		background: var(--accent-blue);
	}

	&::-moz-range-thumb {
		appearance: none;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: var(--material-control);
		border: 0.5px var(--fill-senary);
		box-shadow: 0 1px    0.75px 0 rgba(0, 0, 0, 0.05),
					0 0.25px 0.25px 0 rgba(0, 0, 0, 0.15);
	}

	&:active:not(:disabled) {
		&::-moz-range-thumb {
			background: rgba(240, 240, 240, 1);
		}
	}

	&:disabled {
		opacity: 50%;
	}
}

@page {
	margin: 0;
}

#printContainer {
	display: none;
}

@media print {
	body {
		background: rgba(0, 0, 0, 0) none;
	}

	// If extra pages appear it means there are elements after #printContainer
	#reader-ui {
		display: none;
	}

	#split-view iframe {
		visibility: hidden !important;
	}

	body[data-pdfjsprinting] #printContainer {
		display: block;
	}

	/* wrapper around (scaled) print canvas elements */
	#printContainer > div {
		page-break-after: always;
		page-break-inside: avoid;

		/* The wrapper always cover the whole page. */
		height: 100%;
		width: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#printContainer canvas,
	#printContainer img {
		direction: ltr;
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
}

body.freeze {
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: $z-index-freeze-cover;
		background-color: rgba(1, 1, 1, 0.1);
	}
}

.custom-sections:empty {
	display: none;
}

.icon {
	svg {
		display: block;
		color: currentColor;
	}
}
