#annotation-overlay .annotation-container {
    z-index: 9999;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
}

#annotation-overlay .annotation-container.blended {
    mix-blend-mode: multiply;
}

#annotation-overlay .resizer {
    cursor: col-resize;
    touch-action: none;
}

@media (any-pointer: coarse) {
    #annotation-overlay .resizer {
        stroke: transparent;
        stroke-width: 20px;
        margin: -10px;
    }
}
