:host, #annotation-render-root {
	position: absolute;
	inset: 0;
	writing-mode: horizontal-tb;
	pointer-events: none;
}

.annotation-container {
	z-index: 9999;
	pointer-events: none;
	position: absolute;
	inset: 0;
	background: transparent;
	overflow: visible;

	&:focus-visible {
		outline: none;
	}
}

.annotation-container.blended {
	mix-blend-mode: multiply;
}

.annotation-div {
	cursor: default;
	width: 100%;
	height: 100%;
	pointer-events: auto;
}

.inherit-pointer-events {
	pointer-events: auto;
}

.disable-pointer-events {
	pointer-events: none !important;

	.inherit-pointer-events {
		pointer-events: none !important;
	}

	.needs-pointer-events {
		display: none !important;
	}
}

.resizer {
	cursor: col-resize;
	touch-action: none;
}

.resizer.resizer-vertical {
	cursor: row-resize;
	touch-action: none;
}

@media (any-pointer: coarse) {
	.resizer {
		stroke: transparent;
		stroke-width: 20px;
		margin: -10px;
	}
}

@mixin -dark-rules() {
	.annotation-container.blended {
		mix-blend-mode: screen;
	}
}

#annotation-render-root[data-color-scheme=dark] {
	@include -dark-rules();
}

@media print {
	:host {
		display: none !important;
	}
}
