
.Meta > div {
    margin-bottom: 5px;
}

.Meta * {
    font-size: 14px;
}

.Meta__toolbar {
    display: flex;
    justify-content: space-between;
}

.Meta__toolbar__delete {

}

.Meta__toolbar__color {
    height: 4px;
}

.Meta__toolbar__tags {
    /*padding: 5px 0;*/
}

.Meta__toolbar__tags:empty::before {
    content: 'Add tags..';
    color: #999; 
}

.Meta__toolbar__tags:hover {
    cursor: pointer;
}

.Meta__toolbar__tags span {
    padding-left: 5px;
}

.Meta__first_toolbar {
    display: flex;
    justify-content: space-between;
}
.Meta__first_toolbar input {
    width: 30px;
}

.Meta__second_toolbar {
    display: flex;
    justify-content: space-between;
}

.Meta__toolbar__settings {
    font-size: 18px;
}
.Meta__toolbar__settings:hover {
    cursor: pointer;
}



.Meta__settings__back {
    font-size: 20px;
}

.Meta__settings__back:hover {
    cursor: pointer;
}

.Meta__settings__button {
    text-align: center;
    padding: 5px 0;
    margin: 5px 0;
    border: 1px solid gray;
}

.Meta__settings__button:hover {
    cursor: pointer;
}

