
.global-color-menu {

    .check-box {
      display: inline-block;
      width: 10px;
      height: 10px;

      &.checked::before {
        content: 'x'
      }
    }

    .color {
      display: inline-block;
      width: 10px;
      height: 10px;
    }

    .label {
      display: inline-block;
    }
}

.more-menu {

    .item.delete {
      padding-left: 10px;
    }

    .check-box {
      display: inline-block;
      width: 10px;
      height: 10px;

      &.checked::before {
        content: 'x'
      }
    }

    .color {
      display: inline-block;
      width: 10px;
      height: 10px;
    }

    .label {
      display: inline-block;
    }
}

.disable-pointer-events * {
  pointer-events: none;
}

#drag-canvas {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

#drag-note {
  position: absolute;
  top: -2000px;
  left: -1000px;
  width: 24px;
  height: 24px;
}

#drag-multi {
  position: absolute;
  top: -3000px;
  left: -1000px;

  &::before {
    content: 'dragging multiple';
  }
}

