
#annotationsView {
  .search {
    padding: 5px 5px;
    display: flex;

    .input-container {
      flex: 1;

      input {
        width: 100%;
      }
    }

    .clear {
      padding: 0 5px;
    }
  }
}

#annotationsView {
  @extend %sidebar-view;
}

#annotationsView:focus {
  outline: none;
}
