//
// Annotations view
//

#annotationsView {
	width: 100%;
	height: 100%;
	user-select: none;

	display: flex;
	flex-direction: column;

	&:focus {
		outline: none;
	}

	.search {
		margin: $search-margin;
		display: flex;
		position: relative;

		.icon-search {
			position: absolute;
			left: $search-icon-offset-x;
			top: $search-icon-offset-y;
		}

		.input-group {
			flex: 1;
		}

		input {
			display: block;
			width: 100%;
			height: $search-height;
			line-height: 2; // Center in Chrome
			padding: $search-padding;
			background: $search-bg;
			border: $search-border;
			border-radius: $search-border-radius;
			box-shadow: $search-box-shadow;

			&::placeholder {
				opacity: $search-placeholder-opacity;
				color: #000;
			}

			&:hover {
				border: $search-hover-border;
			}

			&:focus {
				border: $search-focus-border;
				box-shadow: $search-focus-box-shadow;
			}

			.is-blurred & {
				background: $search-blurred-bg;
				box-shadow: $search-blurred-box-shadow;
			}
		}

		.clear {
			position: absolute;
			right: $clear-icon-offset-x;
			top: $clear-icon-offset-y;
			width: 14px;
			height: 14px;
			background: transparent;
			border: none;
		}
	}

	.annotations {
		overflow: auto;
		padding: 3px 4px 0; // Firefox does not render padding-bottom
		flex: 1;
		//-webkit-overflow-scrolling: touch;

		> *:last-child {
			margin-bottom: 8px;
		}
	}

	.annotation {
		outline: none;
	}

	.selector {
		padding: 8px 8px;
		border-top: 1px solid #a9a9a9;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
		z-index: 2;
		max-height: 120px;
		overflow: auto;

		.colors {
			display: flex;
			flex-wrap: wrap;

			.color {
				padding: 2px;
				display: flex;
				border-radius: 3px;
				margin-left: 1px;

				&:hover, &.selected, &.dragged-over  {
					background-color: #bcc4d2;
				}

				&.inactive {
					svg {
						opacity: 0.4;
					}
				}
			}
		}

		.tags {
			display: flex;
			flex-wrap: wrap;

			&:nth-child(2) {
				margin-top: 4px;
			}

			.tag {
				cursor: default;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: pre;
				padding: 2px 4px;
				margin-left: 1px;
				margin-bottom: 1px;

				border-radius: 6px;
				border: 1px solid transparent;

				&.color {
					font-weight: bold;
				}

				&.selected {
					color: white;
					background: rgb(89, 139, 236);
				}

				&:hover, &.dragged-over  {
					background: rgb(187, 206, 241);
					border: 1px solid rgb(109, 149, 224);
				}

				&:active {
					color: white;
					background: rgb(89, 139, 236);
				}

				&.inactive {
					opacity: 0.4;
				}
			}
		}
	}
}

#measure {
	width: var(--sidebar-width);
}
