
.context-menu-container {
  position: absolute;
  z-index: 10000;
}

.context-menu {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid gray;

  .item {
    white-space: nowrap;
    padding: 5px;

    &:hover {
      cursor: pointer;
      background-color: lightgrey;
    }
  }
}
