
.editor {
  position: relative;

  .content {
    outline: 0;
    word-wrap: break-word;
    height: 100%;
    padding: 0 8px;

    &:focus {
      cursor: text;
      background-color: #fff;
    }

    &:empty::before {
      content: attr(placeholder);
      color: #999;
    }
  }

  .renderer {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .bubble {
    font-size: 12px;
    position: absolute;
    background-color: #FFF;
    border: 1px solid lightgrey;

    // 5 (buttons) x 20px / 2 = 50px
    left: calc(50% - 50px);

    margin-top: -15px;

    .button {
      width: 20px;
      height: 15px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: 0;
      vertical-align: bottom;

      &:hover {
        background-color: lightgrey;
      }
    }
  }
}
