
.editor {
  border: 1px solid rgba(10, 10, 10, 0.1);

  .content {
    outline: 0;
    padding: 10px;
    max-height: 100px;
    overflow-y: auto;

    &:empty::before {
      content: attr(placeholder);
      color: #999;
    }
  }

  .renderer {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .toolbar {
    background-color: #FFF;
    border-bottom: 1px solid rgba(10, 10, 10, 0.1);

    .button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      height: 30px;
      outline: 0;
      width: 30px;
      vertical-align: bottom;
    }
  }
}
