//
// Expandable editor
//

.expandable-editor {
  .selected & {
    pointer-events: all;
  }

  .editor-view {
    max-height: $collapsed-height;
    overflow-y: hidden;
    clip-path: inset(0 0 calc(#{nem(4)}) 0);

    @include state(".expandable-editor.expanded") {
      max-height: initial;
      clip-path: initial;
    }
  }
}

#clamps {
  position: absolute;
  left: -1000px;
  width: 0;
  height: 0;
  overflow: hidden;

  #highlight-clamp, #comment-clamp {
    width: calc(var(--sidebar-width) - 3px);
    overflow-y: scroll;
    padding: 0 4px;
    word-wrap: break-word;
    font-size: var(--note-font-size);
    line-height: 1.34;
    height: $collapsed-height;
    box-sizing: border-box;

    .outer {
      max-height: $collapsed-height;
      overflow-y: hidden;

      .inner {
        padding: calc(0.33333 * var(--note-font-size)) 8px calc(0.33333 * var(--note-font-size));
      }
    }
  }

  #highlight-clamp {
    padding-left: 12px;
  }
}
