//
// Expandable editor
//

.expandable-editor {
  pointer-events: none;

  .selected & {
    pointer-events: all;
  }

  .outer {
    max-height: calc(
      3 * #{$note-font-size} * #{$note-line-height} + #{nem(4)} + #{nem(4)}
    );
    overflow-y: hidden;

    &.expanded {
      max-height: none;
      overflow-y: visible;
    }

    @include state(".expandable-editor.overflowed") {
      clip-path: inset(0 0 nem(4) 0);
    }
  }
}
