//
// Highlight
//

.selectionCanvas,
.highlight-annotation .rect {
	opacity: 0.5;
}

.highlight-annotation {
	position: absolute;

	.square {
		position: absolute;
		pointer-events: none;

		@include state(".highlight-annotation.selected") {
			border: 2px dashed $highlight-annotation-selected-border-color;
			pointer-events: auto;
			z-index: 1;
		}
	}

	.rect {
		cursor: pointer;
		position: absolute;
		mix-blend-mode: multiply;
		pointer-events: none;
	}
}
