
.import-bar {
  position: sticky;
  background-color: lightgrey;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 4;
}

.pdfPresentationMode {
  .import-bar {
    display: none;
  }
}
