//
// Ink annotation
//

/*! rtl:begin:ignore */

.ink-annotation {
	svg {
		overflow: visible;
	}

	.square {
		position: absolute;
		pointer-events: none;

		@include state(".ink-annotation.selected") {
			border: 2px dashed $highlight-annotation-selected-border-color;
			pointer-events: auto;
			z-index: 1;
		}
	}
}

/*! rtl:end:ignore */
