
.layer-highlight {
  position: absolute;
  left: 0;
  top: 0;
  mix-blend-mode: multiply;
}

.layer-note {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
}

.layer-area {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
  mix-blend-mode: multiply;
}

.layer-margin-note {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
}

.layer-blink {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;

  .rect {
    position: absolute;
    background-color: #DD00AA;
  }
}

.annotation-preview-popup {
  width: 220px;
}

//.selecting-annotation {
//  .rect:not(.active) {
//    opacity: 0.4;
//    background-color: #d1d1d1 !important;
//  }
//}

.selecting-annotation {
  .rect {
    .active {
      opacity: 0.7;
    }
  }
}

.margin-note {
  position: absolute;
}
