/*! rtl:begin:ignore */

.layer-ink {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
}

.layer-highlight {
	position: absolute;
	left: 0;
	top: 0;
	//pointer-events: none;
}

.layer-note {
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	right: 0;
}

.layer-area {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 3;
}

.layer-edge-note {
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	right: 0;
}

.layer-blink {
	position: absolute;
	top: 0;
	left: 0;
	mix-blend-mode: multiply;
	pointer-events: none;

	.rect {
		position: absolute;
		background-color: Highlight;
	}
}


.edge-note {
	position: absolute;
	cursor: pointer;

	&:hover {
		z-index: 3 !important;
	}
}

.selectionCanvas {
	position: absolute;
	top: 0;
	left: 0;
	mix-blend-mode: multiply
}

/*! rtl:end:ignore */
