
.note-annotation {
  cursor: inherit !important;
  position: absolute;

  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .square {
    position: absolute;
  }

  &.selected {
    .square {
      border: 2px dashed cornflowerblue;
      z-index: 1;
    }
  }
}

.draggableNoteBox {
  border: 2px dashed lightgray;
  position: absolute;
  top: 0;
  left: 0;
}
