
.page-popup-container {
  position: absolute;
  z-index: $z-index-page-popup;
}

.page-popup {
  position: absolute;
  background-color: #fff;
  border-radius: $page-popup-border-radius;
  box-shadow: $page-popup-box-shadow;
  @include popover-pointer($width: 16px, $height: 8px);

  &.selection-popup {
    padding: $selection-popup-padding;

    .selection-menu {
      display: flex;
    }

    .toolbarButton {
      height: $selection-popup-btn-height;
      padding: $selection-popup-btn-padding;
      background: $selection-popup-btn-bg;
      margin: $selection-popup-btn-margin;

      &:active {
        background: $selection-popup-btn-active-bg;
      }
    }
  }
}
