
.page-popup-container {
  position: absolute;
  z-index: $z-index-page-popup;
}

.page-popup {
  position: absolute;
  background-color: #fff;
  border-radius: $page-popup-border-radius;
  box-shadow: $page-popup-box-shadow;
  @include popover-pointer($width: 16px, $height: 8px);

  &.selection-popup {
    padding: 4px;
  }
}

