//
// Popup
//

#popupContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: $z-index-overlay;
	overflow: hidden;
	pointer-events: none;
}

.popup-overlay {
	pointer-events: all;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: $z-index-overlay;
	overflow: hidden;
}

.popup {
	position: absolute;
	background-color: #fff;
	border-radius: $page-popup-border-radius;
	box-shadow: $page-popup-box-shadow;
	@include popover-pointer($width: 16px, $height: 8px);
	left: -1000px;
}

#labelPopup {
	.row {
		padding: $dialog-padding;

		&:not(:first-child) {
			padding-top: $dialog-padding / 2;
		}

		&:not(:last-child) {
			padding-bottom: $dialog-padding / 2;
		}
	}

	input[type=text] {
		width: 100%;
		height: $toolbar-field-height;
		padding: $toolbar-field-padding;
		margin: 0;
		border: $toolbar-field-border;
		color: $toolbar-field-color;
		font-family: inherit;
		font-size: $toolbar-field-font-size;
		background: $toolbar-field-bg;
		border-radius: $toolbar-field-border-radius;
		box-shadow: $toolbar-field-box-shadow;

		@include retina {
			box-shadow: $toolbar-field-box-shadow-2x;
		}
	}

	input[type=radio]:disabled + label {
		color: #999;
	}

	.row.label {
		display: flex;

		.column {
			display: flex;
			align-items: center;

			&.first {
				input {
					width: 100px;
				}

				input:disabled {
					background-color: $gray-lightest;
				}
			}

			&.second {
				margin-inline-start: 10px;
				user-select: none;

				label {
					padding-inline-start: 5px;
				}
			}
		}
	}

	.row.radio {
		user-select: none;

		.choice {
			&:not(:last-child) {
				padding-bottom: 5px;
			}

			display: flex;
			align-items: center;

			label {
				padding-left: 5px;
			}
		}
	}

	.row.buttons {
		display: flex;
		justify-content: flex-end;
	}

	button {
		width: auto;
		min-width: $overlay-btn-min-width;
		height: $overlay-btn-height;
		color: $gradient-btn-color;
		background: $submit-btn-bg;
		border: $overlay-btn-border;
		border-radius: $overlay-btn-border-radius;
		box-shadow: $overlay-btn-box-shadow;

		@include retina {
			box-shadow: $overlay-btn-box-shadow-2x;
		}

		&:not(:first-child) {
			margin-left: $overlay-btn-margin-x;
		}

		&:not(:last-child) {
			margin-right: $overlay-btn-margin-x;
		}

		&:-moz-focusring {
			border: $overlay-btn-focus-border;
			box-shadow: $overlay-btn-focus-box-shadow;
		}

		&:focus-visible {
			border: $overlay-btn-focus-border;
			box-shadow: $overlay-btn-focus-box-shadow;
		}

		&:hover {
			background: $overlay-btn-hover-bg;
			border: $overlay-btn-hover-border;
		}

		&:active:not(:disabled) {
			background: $gradient-btn-active-bg;
			border: $overlay-btn-active-border;
		}

		&:disabled {
			opacity: 0.7;
		}
	}

	//
	//button.submit:not(:disabled) {
	//	color: $gradient-btn-color;
	//	background: $submit-btn-bg;
	//}

	//button.submit:active {
	//	background: $overlay-btn-active-bg;
	//	border: $overlay-btn-active-border;
	//}


}
