//
// Preview
//

.preview {
  cursor: default;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $preview-header-height;
    padding: 0 8px;
    border-bottom: $preview-header-border;
    line-height: rem(12);
    white-space: nowrap;

    .selected & {
      border-bottom: $preview-header-selected-border;
    }

    // Allow left side to grow because in some cases
    // page label can be long i.e. 10002 or S44P12

    .left,
    .center,
    .right {
      flex: 1 1 0;
      display: flex;
      align-items: center;
    }

    .center {
      flex: 0 1 auto;
      justify-content: center;
      min-width: 0;
      max-width: 50%;
    }

    .right {
      justify-content: flex-end;
    }

    .color {
      width: 12px;
      height: 12px;
      border: 1px solid rgba(0, 0, 0, 0.08);
      border-radius: 3px;
      margin-right: 5px;
    }

    .page {
      display: inline-block;
      font-weight: bold;
      padding-right: 8px;
    }

    .author {
      @include text-truncate;
      color: #707070;
    }

    .more {
      margin-right: -4px;
    }
  }

  .highlight {
    .expandable-editor {
      border-bottom: 1px solid #d7dad7;

      @include variant(".highlight:last-child") {
        border-bottom: 0;
      }

      &.overflowed {
        border-bottom: 1px dashed #707070;
      }

      @include variant(".highlight:last-child") {
        border-bottom: 0;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          left: 4px;
          right: 4px;
          bottom: -1px;
          height: 1px;
          background-color: #fff;
        }

        &::after {
          content: "";
          position: absolute;
          left: 6px;
          right: 6px;
          bottom: -1px;
          border-bottom: 1px dashed #64738f;
          mask: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.4) 0%,
            #64738f 6px,
            #64738f calc(100% - 6px),
            rgba(0, 0, 0, 0.4) 100%
          );
        }
      }
    }
  }

  .comment {
    background-color: $comment-bg;

    &:last-child {
      border-bottom-left-radius: $annotation-border-radius - 1px;
      border-bottom-right-radius: $annotation-border-radius - 1px;
    }
  }

  .image {
    width: 100%;
  }

  .tags {
    padding: 0 8px;
    background-color: $tags-bg;

    .tag {
      padding-right: 5px;
    }

    &:empty::before {
      content: attr(placeholder);
    }
  }
}

.page-popup {
  .preview {
    .editor {
      border: 1px solid lightgray;
      padding: 0;

      .content {
        max-height: 150px;
        overflow-y: auto;
      }
    }
  }
}
