
.sidebar {
  .search {
    padding: 5px 5px;
    display: flex;

    .input-container {
      flex: 1;

      input {
        width: 100%;
      }
    }

    .clear {
      padding: 0 5px;
    }
  }

  .block {
    padding: 10px 5px;
    font-size: 13px;
    border-bottom: 1px solid gray;
    cursor: pointer;

    &.active {
      background-color: #f4f4f4
    }
  }
}

#annotationsView {
  @extend %sidebar-view;
}

#annotationsView:focus {
  outline: none;
}
