.Sidebar-block {
  padding: 10px 5px;
  font-size: 13px;
  border-bottom: 1px solid gray;
}

.Sidebar-block-active {
  /*background-color: #563939;*/
  background-color: #4a4a4a;
}

.Sidebar-block:hover {
  /*background-color: #474747;*/
  cursor: pointer;
}

.Sidebar-image {
  width: 100%;
}

.Sidebar-page {
  text-align: left;
}

.Sidebar-text {
  background-color: #4c4c4c;
  padding: 5px;
}

.Sidebar-search {
  padding: 5px 5px;
  display: flex;
}

.Sidebar-search input {
  box-sizing: border-box;
  width: 100%;
}

.Sidebar-search-input {
  box-sizing: border-box;
  flex: 1;
}

.Sidebar-search-clear {
  padding: 0 5px;
}

.Sidebar-block textarea {
  height: 60px;
  background-color: white;
  padding: 5px;
}

#annotationsView {
  @extend %sidebar-view;
}

#annotationsView:focus {
  outline: none;
}



