//
// Annotation popup
//

.annotation-popup {
	width: 240px;

	.content {
		min-height: calc(
				2 * #{nem(4)}
				+ 3 * var(--note-font-size) * #{$note-line-height}
		);
		max-height: 10 * 16px + 8px;
		overflow-y: auto;
	}
}
