
.global-color-menu {

	.check-box {
		display: inline-block;
		width: 10px;
		height: 10px;

		&.checked::before {
			content: 'x'
		}
	}

	.color {
		display: inline-block;
		width: 10px;
		height: 10px;
	}

	.label {
		display: inline-block;
	}
}

.more-menu {

	.item.delete {
		padding-left: 10px;
	}

	.check-box {
		display: inline-block;
		width: 10px;
		height: 10px;

		&.checked::before {
			content: 'x'
		}
	}

	.color {
		display: inline-block;
		width: 10px;
		height: 10px;
	}

	.label {
		display: inline-block;
	}
}

.disable-pointer-events * {
	pointer-events: none;
}

#drag-canvas {
	position: absolute;
	top: -1000px;
	left: -1000px;
}

#drag-note {
	position: absolute;
	top: -2000px;
	left: -1000px;
	width: 24px;
	height: 24px;

	svg {
		display: block;
		width: 100%;
		height: 100%;
	}
}

#drag-multi {
	position: absolute;
	top: -3000px;
	left: -1000px;

	&::before {
		font-size: 30px;
		content: '⧉';
	}
}

#crash-popover {
	z-index: 1000000;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $body-bg;
	text-align: center;
	padding-top: 30px;
	font-size: 14px;
}
