//
// Editor
//

.editor {
	font-size: $note-font-size;
	line-height: $note-line-height;
	position: relative;

	.content {
		word-wrap: break-word;
		padding: nem(3) 8px nem(3);

		&:focus {
			outline: 0;
			cursor: text;
			background: #fff;
		}

		&:empty::before {
			content: attr(placeholder);
			color: $annotation-placeholder-color;

			@include state(".content:focus", ".annotation-popup .editor") {
				color: #707070;
			}
		}

		.overflowed & {
			pointer-events: none;
		}
	}

	.renderer {
		// Note: Renderer can't be zero dimensions or invisible because
		// element.innerText won't work on some browsers
		width: 1px;
		height: 1px;
		overflow: hidden;
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}

	.editor-toolbar {
		font-size: 12px;
		position: absolute;
		background-color: #FFF;
		border: 1px solid lightgrey;

		// 5 (buttons) x 20px / 2 = 50px
		left: calc(50% - 50px);
		display: flex;

		margin-top: -15px;
		height: 20px;
		border-radius: 5px;

		.button {
			width: 20px;
			height: 100%;
			background-color: transparent;
			border: none;
			cursor: pointer;
			outline: 0;
			vertical-align: middle;

			&:hover {
				background-color: lightgrey;
			}
		}
	}
}

.highlight {
	.editor {
		.content {
			&:empty::before {
				color: inherit;
			}
		}
	}
}
