//
// Expandable editor
//

.expandable-editor {
	.selected & {
		pointer-events: all;
	}

	.content {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	&.expanded {
		.content {
			display: block;
		}
	}
}
