.hide-element-popup {
	display: flex;
	flex-direction: column;
	gap: 10px;

	position: absolute;
	right: 15px;
	bottom: 15px;
	width: 200px;
	padding: 15px;
	z-index: $z-index-findbar;
	background-color: $findbar-bg;
	border-radius: $findbar-border-radius;
	box-shadow: $findbar-box-shadow;

	.hide-element-buttons {
		display: flex;
		justify-content: flex-end;
	}
}
