.error-bar {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: rem(16);
	height: 2.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--accent-red);
	color: var(--accent-white);
	z-index: $z-index-error-bar;
}

#drag-multi {
	position: absolute;
	top: -3000px;
	left: -1000px;

	&::before {
		font-size: 30px;
		content: '⧉';
	}
}
