.outline-view {
	padding: 4px 8px;

	ul {
		li {
			list-style: none;

			.item {
				display: flex;
				align-items: center;

				.title {
					text-decoration: none;
					display: block;
					height: auto;
					font-size: .6875rem;
					line-height: 1.2;
					-moz-user-select: none;
					user-select: none;
					white-space: normal;
					padding: 0.21875rem;
					cursor: pointer;

					&:focus {
						box-shadow: 0 0 0 var(--width-focus-border) var(--color-focus-search);
						border-radius: 3px;
						outline: none;
					}
				}

				.toggle {
					height: 1.25rem;
					width: 9px;
					flex-shrink: 0;
					color: var(--fill-secondary);
					display: flex;
					align-items: center;
					margin-inline-end: 3px;
					margin-inline-start: 3px;
				}

				&.expandable.expanded .toggle {
				}

				&.expandable:not(.expanded) .toggle {
					html[dir='ltr'] & {
						transform: rotate(-90deg);
					}

					html[dir='rtl'] & {
						transform: rotate(90deg);
					}
				}
			}

			.children {
				padding-inline-start: 16px;
			}
		}
	}
}
