//
// Preview
//

@use "sass:math";

.preview {
	cursor: default;

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: $preview-header-height;
		padding: 0 8px;
		border-bottom: $preview-border;
		line-height: rem(12);
		white-space: nowrap;
		user-select: none;

		.selected & {
			border-bottom: $preview-selected-border;
		}

		// Allow left side to grow because in some cases
		// page label can be long i.e. 10002 or S44P12

		.left,
		.center,
		.right {
			flex: 1 1 0;
			display: flex;
			align-items: center;
		}

		.center {
			flex: 0 1 auto;
			justify-content: center;
			min-width: 0;
			max-width: 50%;
		}

		.right {
			justify-content: flex-end;
		}

		.icon {
			margin-inline-end: 5px;
		}

		.page {
			display: flex;
			align-items: center;
			font-weight: bold;
			padding-right: 8px;

			> div:first-child {
				margin-right: math.div(4em, 11);
			}

			.editable-control {
				width: 50px;
				line-height: rem(12);
				padding: $page-label-editable-padding;
				margin: $page-label-editable-margin;
			}
		}

		.author {
			@include text-truncate;
			color: #606060;
			margin-inline-end: 4px;

			&.non-authoritative {
				color: #c0c0c0;
			}
		}
	}

	.highlight {
		color: #555;
		position: relative;

		&:last-child {
			border-bottom: 0;

			.selected & {
				border-bottom: 0;
			}
		}

		.blockquote-border {
			position: absolute;
			left: 8px;
			top: nem(4);
			bottom: nem(5);
			width: 2px;
			z-index: 999;
		}

		.content {
			padding-left: 16px;
		}
	}

	.comment {
		border-bottom: $preview-border;

		.selected & {
			border-bottom: $preview-selected-border;
		}

		&:last-child {
			border-bottom: 0;

			.selected & {
				border-bottom: 0;
			}
		}
	}

	.image {
		width: 100%;
	}

	.tags {
		width: 100%;
		text-align: left;
		padding: rem(3) 8px rem(5);

		// Normalize line height across browsers at 11px font-size
		line-height: 1.37;
		word-break: break-word;

		@-moz-document url-prefix() {
			padding: rem(4) 8px rem(4);
		}

		.tag {
			&::after {
				content: ", ";
				color: $text-color;
			}

			&:last-child {
				&::after {
					content: none;
				}
			}
		}

		&:empty::before {
			content: attr(placeholder);
			color: $tags-placeholder-color;

			.annotation-popup & {
				color: #707070;
			}
		}
	}
}

