// <select> requires a wrapper in order to position a custom chevron
// (Even when set to appearance: none, <select> is a "replaced element"
// with no ::before/::after)
.select {
	position: relative;

	> select {
		width: 100%;
		height: 100%;

		appearance: none;
		display: flex;
		padding: 2px 6px;
		align-items: center;
		gap: 4px;
		border-radius: 5px;
		border: var(--material-border-quarternary);
		background: var(--material-background);

		&:not([disabled]):hover {
			background-color: var(--material-mix-quinary);
		}

		&:not([disabled]):active {
			background-color: var(--material-mix-quarternary);
		}
	}

	> .chevron {
		position: absolute;
		top: calc(50% - 4px);
		inset-inline-end: 6px;
		pointer-events: none;

		color: var(--fill-secondary);
	}
}
