
.divider {
	width: 1px;
	height: 20px;
	border-radius: 0.5px;
	background: var(--fill-quinary);
	margin: 0 4px;
}

.toolbar-button {
	color: var(--fill-secondary);
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;

	&:hover {
		background-color: var(--fill-quinary);
	}

	&:active, &.active, &.active-pseudo-class-fix {
		background-color: var(--fill-quarternary);
	}

	&[disabled] {
		pointer-events: none;
	}
}

.toolbar-dropdown-button {
	gap: 4px;
	width: 40px;
}

.toolbar-text-input {
	padding: 0 7px;
	background: var(--material-background);
	border-radius: 5px;
	border: var(--material-border-quinary);
	height: 28px;
	width: 100%;

	&:focus {
		outline: none;
		border-color: rgba(0, 0, 0, 0);
		box-shadow: 0 0 0 var(--width-focus-border) var(--color-focus-search);
	}
}

//
// Toolbar buttons
//

.toolbar-button {
	&.tool-color {
		white-space: nowrap;

		&::before {
			content: "";
			display: inline-block;
			vertical-align: top;
			width: 12px;
			height: 12px;
			margin: 2px;
			background-color: currentColor;
			border: 1px solid rgba(0, 0, 0, 0.08);
			border-radius: 3px;
		}

		.dropmarker {
			display: inline-block;
			vertical-align: top;
			width: 7px;
			height: 4px;
			margin: 6px 0;
			margin-inline-start: 2px;
			position: relative;
			z-index: 1;
		}
	}
}


.search {
	display: flex;
	align-items: center;
	padding: 4px;
	border-radius: 5px;
	border: 0;
	color: var(--fill-primary);

	.btn {
		display: flex;
		align-items: center;
	}

	&:not(.expanded) {
		color: var(--fill-secondary);
		&:hover {
			background-color: var(--fill-quinary);
		}

		&:active {
			background-color: var(--fill-quarternary);
		}
	}

	&.expanded {
		border: var(--material-border-quinary);
		background: var(--material-background);
	}

	input {
		background-color: transparent;
		border: 0;
		max-width: 0;
		width: 100%;
		transition: max-width 0.25s ease;
	}

	&.expanded input {
		max-width: 130px;
		padding-left: 4px;
	}

	&:focus-within {
		outline: none;
		border-color: rgba(0,0,0,0);
		box-shadow: 0 0 0 var(--width-focus-border) var(--color-focus-search);
	}
}
