.utility-popup {
	@include control-popup;
	z-index: $z-index-popup;
	position: fixed; // Don't overflow the body
	padding: 8px;
	gap: 8px;

	// Don't allow window dragging, even if a popup overlaps the toolbar
	-moz-window-dragging: no-drag;
}

.read-aloud-popup {
	top: $height-toolbar + 10px;
	inset-inline-start: calc(var(--sidebar-width) + 10px);
	width: 250px;
	user-select: none;

	.row {
		display: flex;
		gap: 8px;

		&.buttons {
			margin: -8px;
			justify-content: space-between;

			button {
				width: 40px;
				height: 40px;
				border-radius: 0;
			}

			.group {
				display: flex;
				gap: 4px;
			}

			.loading-spinner {
				width: 40px;
				height: 40px;
				padding: 12px;
				color: var(--fill-secondary);
				animation: rotating 0.5s steps(12) infinite;
			}
		}

		&.speed {
			padding-top: 8px;

			input {
				flex: 1;
			}

			label {
				flex-shrink: 0;
				font-variant: tabular-nums;
			}
		}

		&.voices {
			.custom-select {
				flex: 1;
			}
		}

		&.remaining-time {
			flex-direction: column;
			gap: 4px;
			padding-inline: 6px;

			.time-indicator {
				display: flex;
				align-items: center;
				gap: 4px;

				&.urgent {
					color: var(--accent-red);
				}

				.reset {
					color: inherit;
					text-decoration: none;
				}

				.purchase-credits {
					margin-inline-start: auto;
				}
			}

			.message {
				color: var(--fill-secondary);
				font-size: 11px;
				line-height: 1.33;
			}
		}

		&.error {
			color: var(--accent-red);
			font-size: 11px;
			justify-content: center;
		}
	}

	&.expanded > .row.buttons {
		border-bottom: var(--material-border-quarternary);
	}

	.remaining-time, .log-in, .error {
		button {
			@include link-button;
		}
	}
}
