@mixin -control-popup {
	position: absolute;
	z-index: $z-index-find-popup;
	padding: 8px;
	background: var(--material-toolbar);
	border-radius: 6px;
	box-shadow: 0 0   3px  0 rgba(0, 0, 0, 0.55),
				0 8px 40px 0 rgba(0, 0, 0, 0.25),
				0 0   3px  0 rgba(255, 255, 255, 0.1) inset;

	gap: 12px;
	display: flex;
	flex-direction: column;

	.row {
		display: flex;
	}

	.row.input {
		gap: 8px;

		.input-box {
			width: 100%;
			display: flex;

			&.loading {
				input {
					padding-inline-end: 25px;
				}

				.spinner-container {
					display: flex;
					align-items: center;
					margin-inline-start: -22px;

					.spinner {
						width: 16px;
						height: 16px;
						border: 3px solid #f3f3f3;
						border-top: 3px solid #7e7e7e;
						border-radius: 50%;
						animation: spin1 1.5s linear infinite;
					}
				}
			}
		}

		.group {
			display: flex;
			align-items: center;
			gap: 4px;
		}
	}
}

.find-popup {
	@include -control-popup;

	inset-inline-end: 15px;
	top: 15px;

	.row.options {
		height: 16px;
		display: flex;
		align-items: flex-start;
		gap: 12px;

		.option {
			display: flex;
			align-items: center;
			gap: 6px;
		}
	}

	.row.result {
		height: 16px;
		display: flex;
		align-items: center;
		margin-top: -6px;
	}

	.result {
		white-space: nowrap;
		user-select: none;
	}

	.group {
		display: flex;
		align-items: center;
	}
}

.epub-appearance-popup {
	@include -control-popup;

	inset-inline-start: 15px;
	top: $height-toolbar + 15px;
	padding-block: 0;
	gap: 0;

	.row {
		display: grid;
		grid-template-columns: 1fr minmax(3.2em, max-content) max-content;
		align-items: center;
		gap: 4px 8px;
		padding-block: 8px;

		&:not(:last-child) {
			border-bottom: var(--material-border-quarternary);
		}

		label {
			grid-column: span 3;
		}

		.value {
			user-select: none;
		}
	}

	.checkbox-row {
		display: flex;
		align-items: center;
		gap: 4px 8px;
		padding-block: 8px;
	}

	.hidden {
		visibility: hidden;
	}
}

.selection-popup {
	max-width: 198px;
	padding: 8px;
	display: flex;
	flex-direction: column;
	gap: 8px;

	.colors {
		gap: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.color-button {
		width: 20px;
		height: 20px;
	}

	.tool-toggle {
		background: var(--fill-quinary);
		height: 22px;
		border-radius: 6px;
		padding: 1px;
		display: flex;
		box-shadow: 0px 0px 2px 0px #0000000D inset, 0px 0px 4px 0px #0000000D inset, 0px 0px 2px 0px #0000000D inset;

		.highlight, .underline {
			height: 20px;
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 6px;
			color: var(--fill-secondary);
			border: 0.5px solid transparent;

			&.active, &:active, &.active-pseudo-class-fix {
				background: var(--material-button, #FFFFFF);
				border: 0.5px solid var(--fill-senary, #00000005);
				box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.05), 0px 0.5px 2.5px 0px rgba(0, 0, 0, 0.30);
			}

			&:active:not(.active), &.active-pseudo-class-fix:not(.active) {
				background-color: var(--color-button50);
				z-index: 1;
			}
		}
	}

	.wide-button {
		background: var(--material-button);
		text-align: center;
		box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.05), 0px 0.5px 2.5px 0px rgba(0, 0, 0, 0.30);
		width: 100%;
		color: var(--fill-primary);
		height: 22px;
	}

	.custom-sections {
		padding-top: 5px;

		.section {
			padding: 5px 0;
			border-top: 1px solid #d7dad7;
		}
	}
}

.view-popup {
	/*! rtl:begin:ignore */
	left: 0;
	/*! rtl:end:ignore */
	position: absolute;
	@include popover-pointer($width: 16px, $height: 8px);
	z-index: 1;
	background: var(--material-background);
	border: var(--material-panedivider);
	border-radius: 5px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.6);
}

.preview-popup {
	display: flex;
	max-height: 60%;
	max-width: 60%;

	.inner {
		max-height: 60%;
		overflow-y: auto;

		img {
			pointer-events: none;
			@include pdf-page-image-dark-light;
		}
	}
}

.link-popup {
	padding: 4px;
}

.citation-popup {
	padding: 5px;

	.inner {
		width: 400px;
		max-height: 250px;
		overflow-y: auto;

		.reference-row {
			//user-select: none;
			//cursor: default;
			padding: 5px;
			border-radius: 5px;
			overflow-wrap: break-word;

			//&:hover, &:focus {
			//	outline: none;
			//	box-shadow: none;
			//	background: var(--fill-quinary);
			//}
		}
	}
}

.reference-popup {
	padding: 5px;
	width: 400px;
	max-height: 250px;

	.reference-row {
		//user-select: none;
		//cursor: default;
		padding: 5px;
		border-radius: 5px;
		word-break: break-all;

		//&:hover, &:focus {
		//	outline: none;
		//	box-shadow: none;
		//	background: var(--fill-quinary);
		//}
	}
}

.annotation-popup {
	width: 240px;

	.content {
		min-height: calc(
			2 * #{nem(4)}
			+ 3 * var(--note-font-size) * calc(4 / 3)
		);
		max-height: 10 * 16px + 8px;
		overflow-y: auto;
	}
}

.footnote-popup {
	&.loading {
		visibility: hidden;
	}

	iframe {
		display: flex;
		width: 100%;
		border: 0;
		max-height: 300px;
	}
}

.image-popup {
	z-index: 1;
	padding: 5px;
	position: absolute;
	inset: 0;
	background: var(--color-background);
	cursor: zoom-out;

	img {
		object-fit: contain;
		width: 100%;
		height: 100%;
	}
}
