.view-popup {
	/*! rtl:begin:ignore */
	left: 0;
	/*! rtl:end:ignore */
	@include popover-pointer($width: 16px, $height: 8px);
	@include popup;
	z-index: 1;

	.form-button {
		height: 22px;
		padding: 0 7px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		background: var(--material-button);
		box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.05), 0px 0.5px 2.5px 0px rgba(0, 0, 0, 0.30);

		&.primary {
			background: linear-gradient(180deg, rgba(255, 255, 255, 0.17) 0%, rgba(255, 255, 255, 0.00) 100%), var(--accent-blue);
			color: var(--accent-white);

			&:active:not(:disabled), &.active:not(:disabled), &.active-pseudo-class-fix:not(:disabled) {
				background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.05)), darken(#0a6cf5, 6%); // Replaced $gradient-btn-active-bg
			}
		}

		&:-moz-focusring {
			box-shadow: 0 0 0 4px rgba(#0a6cf5, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 0 1px rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12); // Replaced $overlay-btn-focus-box-shadow
		}

		&:focus-visible {
			box-shadow: 0 0 0 4px rgba(#0a6cf5, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 0 1px rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12); // Replaced $overlay-btn-focus-box-shadow
		}

		&:active:not(:disabled), &.active:not(:disabled), &.active-pseudo-class-fix:not(:disabled) {
			background: var(--fill-quarternary);
		}

		&:disabled {
			opacity: 0.7;
		}

		@media (-moz-platform: macos) {
			&:-moz-window-inactive {
				background: var(--material-button);
				box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.05), 0px 0.5px 2.5px 0px rgba(0, 0, 0, 0.30);
			}
		}
	}
}

.find-popup {
	@include popup;
	gap: 12px;
	padding: 8px;

	inset-inline-end: 15px;
	top: 15px;

	.row {
		display: flex;
	}

	.row.input {
		gap: 8px;

		.input-box {
			width: 100%;
			display: flex;

			&.loading {
				input {
					padding-inline-end: 25px;
				}

				.spinner-container {
					display: flex;
					align-items: center;
					margin-inline-start: -22px;

					.spinner {
						width: 16px;
						height: 16px;
						border: 3px solid #f3f3f3;
						border-top: 3px solid #7e7e7e;
						border-radius: 50%;
						animation: spin1 1.5s linear infinite;
					}
				}
			}
		}

		.group {
			display: flex;
			align-items: center;
			gap: 4px;
		}
	}

	.row.options {
		height: 16px;
		display: flex;
		align-items: flex-start;
		gap: 12px;

		.option {
			display: flex;
			align-items: center;
			gap: 6px;
		}
	}

	.row.result {
		height: 16px;
		display: flex;
		align-items: center;
		margin-top: -6px;
	}

	.result {
		white-space: nowrap;
		user-select: none;
	}

	.group {
		display: flex;
		align-items: center;
	}
}

.selection-popup {
	max-width: 198px;
	padding: 8px;
	gap: 8px;

	.colors {
		gap: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.color-button {
		width: 20px;
		height: 20px;
	}

	.tool-toggle {
		background: var(--fill-quinary);
		height: 22px;
		border-radius: 6px;
		padding: 1px;
		display: flex;
		box-shadow: 0px 0px 2px 0px #0000000D inset, 0px 0px 4px 0px #0000000D inset, 0px 0px 2px 0px #0000000D inset;

		.highlight, .underline {
			height: 20px;
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 6px;
			color: var(--fill-secondary);
			border: 0.5px solid transparent;

			&.active, &:active, &.active-pseudo-class-fix {
				background: var(--material-button, #FFFFFF);
				border: 0.5px solid var(--fill-senary, #00000005);
				box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.05), 0px 0.5px 2.5px 0px rgba(0, 0, 0, 0.30);
			}

			&:active:not(.active), &.active-pseudo-class-fix:not(.active) {
				background-color: var(--color-button50);
				z-index: 1;
			}
		}
	}

	.wide-button {
		background: var(--material-button);
		text-align: center;
		box-shadow: 0px 0px 0px 0.5px rgba(0, 0, 0, 0.05), 0px 0.5px 2.5px 0px rgba(0, 0, 0, 0.30);
		width: 100%;
		color: var(--fill-primary);
		height: 22px;
	}

	.custom-sections {
		padding-top: 5px;

		.section {
			padding: 5px 0;
			border-top: 1px solid #d7dad7;
		}
	}
}

.preview-popup {
	display: flex;
	max-height: 60%;
	max-width: 60%;

	.inner {
		border-radius: inherit;
		max-height: 60%;
		overflow-y: auto;

		img {
			pointer-events: none;
		}
	}
}

.link-popup {
	padding: 4px;
}

.reference-popup {
	.spinner-16 {
		@keyframes spin {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(360deg);
			}
		}

		animation: spin 1s steps(8) infinite;
		transform-origin: center;
		display: inline-block;
	}

	.icon-button {
		color: var(--fill-secondary);
		width: 18px;
		height: 18px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 2px;

		&:hover {
			background-color: var(--fill-quinary);
		}

		&:active, &.active, &.active-pseudo-class-fix {
			background-color: var(--fill-quarternary);
		}

		&[disabled] {
			pointer-events: none;
		}
	}


	.inner {
		width: 400px;
		overflow-y: auto;

		.reference-row {
			display: flex;
			gap: 4px;
			padding: 8px 12px;
			font-weight: bold;

			&:not(:last-child) {
				border-bottom: var(--material-panedivider);
			}

			&.previewed {
				background-color: var(--material-sidepane);
				font-weight: unset;
			}

			.start {
				display: flex;
				width: 16px;
			}

			.middle {
				display: flex;
				overflow-wrap: break-word;
				line-height: 18px;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
				cursor: default;
			}

			.end {
				display: flex;
				width: 16px;
			}
		}

		.reference-preview {
			display: flex;
			flex-direction: column;

			.header {
				display: flex;
				gap: 8px;
				padding: 8px;
				border-bottom: var(--material-border-quarternary);

				.start {
					display: flex;
					width: 18px;
				}

				.middle {
					display: flex;
					gap: 4px;

					.icon {
						width: 16px;
					}

					.text {
						overflow-wrap: break-word;
						line-height: 18px;

						&:not(.expanded) {
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
							cursor: default;
						}

						&.expanded {
							max-height: 90px;
							overflow-y: auto;
						}
					}
				}

				.end {
					display: flex;
					flex-direction: column;
					width: 18px;
				}
			}

			.item-preview {
				padding: 8px 12px;
				//max-height: 200px;
				min-height: 80px;
				overflow-y: auto;
				display: flex;
				flex-direction: column;
				gap: 8px;
				border-bottom: var(--material-border-quarternary);

				&.fixed-height {
					height: 132px;
				}

				.metadata {
					display: flex;
					flex-direction: column;
					gap: 3px;

					.title {
						display: flex;
						font-weight: bold;
					}

					.author-year {
						display: flex;
						gap: 5px;
					}
				}

				.abstract {
					overflow-wrap: break-word;
				}

				.metadata-skeleton, .abstract-skeleton {
					& > * {
						height: 18px;
						padding: 3px;
						display: flex;

						&:before {
							content: " ";
							height: 12px;
							width: 100%;
							border-radius: 2px;
							background: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.05) 25%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
						}
					}
				}

				.metadata-skeleton > * {
					&:nth-child(1) {
						width: 320px;
					}

					&:nth-child(2) {
						width: 120px;
					}
				}

				.abstract-skeleton > * {
					&:nth-child(1) {
						width: 100%;
					}

					&:nth-child(2) {
						width: 100%;
					}

					&:nth-child(3) {
						width: 240px;
					}
				}
			}

			.unrecognized {
				padding: 8px 12px 0 12px;
				background-color: var(--fill-secondary);
			}

			.actions {
				padding: 12px;
				display: flex;
				gap: 8px;

				button {
					flex: 1;

					.spinner-16 {
						position: absolute;
						inset-inline-end: 16px;
					}
				}
			}
		}
	}
}

.annotation-popup {
	width: 240px;

	.content {
		min-height: calc(
			2 * #{nem(4)}
			+ 3 * var(--note-font-size) * calc(4 / 3)
		);
		max-height: 10 * 16px + 8px;
		overflow-y: auto;
	}
}

.footnote-popup {
	border: 1px solid var(--color-background);

	&.loading {
		visibility: hidden;
	}

	iframe {
		display: flex;
		width: 100%;
		border: 0;
		border-radius: inherit;
		max-height: 300px;
	}
}

.image-popup {
	z-index: 1;
	position: absolute;
	inset: 0;
	cursor: zoom-out;
	user-select: none;

	& {
		background: transparent;
		transition: background-color 0.2s ease-out;
	}

	&.show {
		background: var(--color-background);
		transition: background-color 0.1s ease-out;
	}

	img {
		position: absolute;
		object-fit: contain;
		font-size: 0; // Hide alt text while loading

		top: var(--rect-top);
		left: var(--rect-left);
		width: calc(var(--rect-right) - var(--rect-left));
		height: calc(var(--rect-bottom) - var(--rect-top));
		padding: 0;
		transition: all 0.2s ease-in-out;
	}

	&.show img {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 5px;
		font-size: inherit;
	}

	@media (prefers-reduced-motion: reduce) {
		&, &.show {
			&, & img {
				transition: none;
			}
		}
	}
}
