//
// Asset URLs
//

@function asset-url($type, $path) {
  @return url(unquote("#{$type}/#{$path}"));
}

@function icon-url($path) {
  @return asset-url("icons", $path);
}

@function image-url($path) {
  @return asset-url("images", $path);
}
