//
// Mixins
//

@import "mixins/media-queries";
@import "mixins/selectors";
@import "mixins/popover-pointer";

// An implementation of Firefox light-dark() CSS mixin, which is not supported in 102
@mixin light-dark($prop, $light-color, $dark-color) {
	@media (prefers-color-scheme: light) {
		#{$prop}: $light-color;
	}
	@media (prefers-color-scheme: dark) {
		#{$prop}: $dark-color;
	}
}

@mixin macOS-inactive-opacity {
	$selector: &;
	@at-root {
		@media (-moz-platform: macos) {
			#{$selector} {
				&:-moz-window-inactive {
					opacity: 0.6;
				}
			}
		}
	}
}

@mixin pdf-page-image-dark-light {
	$selector: &;
	@at-root {
		@media (prefers-color-scheme: dark) {
			#{$selector} {
				filter: invert(90%) saturate(100%) hue-rotate(180deg) brightness(100%) contrast(125%)
			}
		}
	}
}
