$platform: "darwin" !default;
$theme: "light";
$mode: "production" !default;

//
// Functions
//

@import "abstracts/functions";

//
// Theme
//

@import "themes/light-darwin";

//
// Abstracts
//

@import "abstracts/placeholders";
@import "abstracts/mixins";

//
// Base
//

@import "base/base";

//
// Components
//
@import "components/viewer-override";

@import "components/area-selector";
@import "components/expandable-editor";
@import "components/editor";
@import "components/ink";
@import "components/highlight";
@import "components/layer";
@import "components/editable";
@import "components/preview";
@import "components/page-popup";
@import "components/annotation-popup";
@import "components/popup";
@import "components/context-menu";
@import "components/annotations-view";
@import "components/annotation";
@import "components/area";
@import "components/note";
@import "components/toolbar-buttons";
@import "components/icons";
@import "components/toolbar";
@import "components/toolbar-field";
@import "components/icons2";
@import "components/sidebar";
@import "components/toolbar-sidebar";
@import "components/sidebar-resizer";
@import "components/split-view-resizer";
@import "components/split-view";
@import "components/findbar";
@import "components/overlay";
@import "components/outline-view";
@import "components/thumbnails-view";

