
$platform: "generic";
$theme:    "light";
$mode:     "production" !default;

//
// Functions
//

@import "abstracts/functions";

//
// Theme
//

@import "themes/light-generic";

//
// Abstracts
//

@import "abstracts/placeholders";
@import "abstracts/mixins";

//
// Base
//

@import "base/base";

//
// pdf.js components
//

@import "components/viewer/text-layer-builder";
@import "components/viewer/pdf-viewer";
@import "components/viewer/viewer";
@import "components/viewer/icons";
@import "components/viewer/doorhanger";
@import "components/viewer/toolbar-buttons";
@import "components/viewer/toolbar-field";
@import "components/viewer/toolbar";
@import "components/viewer/secondary-toolbar";
@import "components/viewer/sidebar";
@import "components/viewer/toolbar-sidebar";
@import "components/viewer/findbar";
@import "components/viewer/thumbnail-view";
@import "components/viewer/outline-view";
@import "components/viewer/attachments-view";
@import "components/viewer/dialog";
@import "components/viewer/error-message";
@import "components/viewer/presentation-mode";
@import "components/viewer/pdf-bug";
@import "components/viewer/print";
@import "components/viewer/visibility";
@import "components/viewer/viewer-override";

//
// Annotator components
//

@import "components/annotator/annotator";
@import "components/annotator/area-selector";
@import "components/annotator/color-picker";
@import "components/annotator/editor";
@import "components/annotator/highlight";
@import "components/annotator/layer";
@import "components/annotator/annotation-preview";
@import "components/annotator/page-popup";
@import "components/annotator/screen-popup";
@import "components/annotator/selection-menu";
@import "components/annotator/sidebar";
@import "components/annotator/area";
@import "components/annotator/note";
@import "components/annotator/toolbar";
@import "components/annotator/import-bar";
@import "components/annotator/toolbar-buttons";
@import "components/annotator/icons";


