& {
	margin: 40px !important;
	overflow: hidden;
	overscroll-behavior: none;
}

.swipe-indicators {
	display: contents;

	.swipe-indicator-left, .swipe-indicator-right {
		display: block;
		position: fixed;
		top: calc(50% - 50px);
		width: 80px;
		height: 100px;
		background-color: #bdbdbd;
		z-index: 9999;
		pointer-events: none;
	}

	.swipe-indicator-left {
		left: calc((min(var(--swipe-amount, 0), 1) - 1) * 80px);
		opacity: calc(min(var(--swipe-amount, 0), 1) * 0.8);
		border-radius: 0 80px 80px 0;
	}

	.swipe-indicator-right {
		left: calc(100vw + (max(var(--swipe-amount, 0), -1) * 80px));
		opacity: calc(max(var(--swipe-amount, 0), -1) * -0.8);
		border-radius: 80px 0 0 80px;
	}
}

> .sections {
	max-width: calc(100vw - 80px);
	min-height: calc(100vh - 80px);
	max-height: calc(100vh - 80px);
	margin-inline: auto;
	column-fill: auto;
	-webkit-column-fill: auto;
	column-gap: 60px;
	column-width: 800px;
	overflow: hidden;
	overscroll-behavior: none;

	&.spread-mode-odd {
		column-width: calc(50vw - 80px);
		--media-max-width: calc(50vw - 80px);
	}

	&.spread-mode-none {
		column-gap: 100vw; // Just a big number, doesn't need to adjust for writing-mode
		--media-max-width: calc(100vw - 80px);
	}

	:root[data-page-width="narrow"] &.spread-mode-none {
		max-inline-size: 650px;
		column-width: 650px;
	}

	:root[data-page-width="normal"] &.spread-mode-none {
		max-inline-size: 800px;
		column-width: 800px;
	}

	:root[data-page-width="full"] &.spread-mode-none {
		max-inline-size: calc(100vw - 80px);
		column-width: calc(100vw - 80px);
	}

	> .section-container {
		// See _scrolled.scss: Firefox throws away 'contain' properties with
		// unknown values, so we need to set a fallback.
		contain: layout paint;
		contain: layout paint style;

		&.hidden {
			display: none;
		}

		:root.is-safari & {
			// 'contain: paint' in a multi-column layout slows Safari to a crawl
			// and causes content to disappear
			contain: layout;
			contain: layout style;
		}
	}
}

replaced-body {
	section {
		position: relative !important;
	}

	section + section, .break-before {
		// It's like break-after, but Firefox supports it
		margin-block-start: 100vh;
	}

	.break-after {
		margin-block-end: 100vh;
	}

	img, svg, audio, video {
		max-width: calc(min(0.98 * var(--media-max-width), 100%)) !important;
		max-height: calc(0.98 * (100vh - 80px)) !important;
		object-fit: contain;
		position: static !important;
		width: auto;
		height: auto;
	}

	div {
		max-inline-size: var(--media-max-width);
	}

	table, mtable {
		display: block;
		overflow: auto;
		max-block-size: calc(100vh - 80px);
		max-block-size: calc(100vb - 80px);
		border: none !important;
	}

	.table-like:not(table, mtable), ol, ul {
		display: flex;
		flex-direction: column;
	}

	@media (max-width: 800px) {
		* {
			max-inline-size: 100vw;
			max-inline-size: 100vi;
		}
	}
}
