
.Layer {
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.Layer__highlight {
    position: absolute;
    z-index: -1;
    left: 0;
}

.Layer__text {
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
}

.Layer__square {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
    mix-blend-mode: multiply;
}

.Layer--disable-selection {
    user-select: none;
    pointer-events: none;
}

.AnnotationPopup {
    width: 220px;
}

.AnnotationPopup__title {
    display: flex;
    justify-content: space-between;
}
