//
// Base
//

*,
::before,
::after {
	box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

::selection {
  color: $selection-color;
  background-color: $selection-bg;
}

::-moz-focus-inner {
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  /* Font size is needed to make the activity bar the correct size. */
}

body {
  background-color: $body-bg;
  font-family: $font-family-base;
  font-size: $font-size-base;
}

input,
button,
select {
  font-family: inherit;
  font-size: inherit;
  outline: none;
}

.hidden {
  display: none !important;
}
[hidden] {
  display: none !important;
}
