//
// Attachments view
//

#attachmentsView {
  @extend %sidebar-view;
}

.attachmentsItem > button {
  @extend %sidebar-item-link-btn;
  display: block;
  width: 100%;
  border: 0;
  background-color: transparent;
  padding: rem(3.5) 0 rem(3.5) 26px;
  cursor: pointer;
  text-align: left;
  @include text-truncate;
  position: relative;

  &::before {
    position: absolute;
    top: rem(10);
    margin-top: -8px;
    left: 7px;
  }
}
