//
// Dialog
//

#overlayContainer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $overlay-container-bg;
  z-index: $z-index-overlay;

  .container {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.dialog {
  width: $dialog-width;
  color: $dialog-color;
  font-size: $dialog-font-size;
  line-height: $dialog-line-height;
  background-color: $dialog-bg;
  border-radius: $dialog-border-radius;
  box-shadow: $dialog-shadow;

  .toolbarField {
    margin: 0;
  }

  .row,
  .buttonRow {
    padding: $dialog-padding;

    &:not(:first-child) {
      padding-top: $dialog-padding / 2;
    }

    &:not(:last-child) {
      padding-bottom: $dialog-padding / 2;
    }
  }

  .buttonRow {
    display: flex;
    justify-content: $btn-row-justify-content;
    align-items: center;
  }

  .overlayButton {
    width: auto;
    min-width: $overlay-btn-min-width;
    height: $overlay-btn-height;
    background-color: $overlay-button-bg;
    border: $overlay-btn-border;
    border-radius: $overlay-btn-border-radius;

    &:not(:first-child) {
      margin-left: $overlay-btn-margin-x;
    }

    &:not(:last-child) {
      margin-right: $overlay-btn-margin-x;
    }

    &:focus {
      border: $overlay-btn-focus-border;
    }

    &:hover {
      background-color: $overlay-btn-hover-bg;
      border: $overlay-btn-hover-border;
    }

    &:active {
      background-color: $overlay-btn-active-bg;
      border: $overlay-btn-active-border;
    }
  }

  // Password dialog
  #passwordOverlay & {
    .toolbarField {
      width: 100%;
    }
  }
}

//.dialog .separator {
//  display: block;
//  margin: 4px 0 4px 0;
//  height: 1px;
//  width: 100%;
//  background-color: rgba(0, 0, 0, 0.5);
//  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.08);
//}
//
//.dialog :link {
//  color: rgba(255, 255, 255, 1);
//}
//
//#documentPropertiesOverlay > .dialog {
//  text-align: left;
//}
//#documentPropertiesOverlay .row > * {
//  min-width: 100px;
//}
//#documentPropertiesOverlay .row > * {
//  text-align: left;
//}
//#documentPropertiesOverlay .row > span {
//  width: 125px;
//  word-wrap: break-word;
//}
//#documentPropertiesOverlay .row > p {
//  max-width: 225px;
//  word-wrap: break-word;
//}
//#documentPropertiesOverlay .buttonRow {
//  margin-top: 10px;
//}
