//
// Error message
//

#errorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $error-message-bg;
  color: #fff;
  left: var(--sidebar-width);
  position: absolute;
  right: 0;
  z-index: $z-index-error-wrapper;
  padding: rem(6) 40px rem(6) 12px;
  font-size: rem(14);
  line-height: calc(4 / 3);
  min-height: $error-message-min-height;

  .loadingInProgress & {
    top: 37px;
  }

  button {
    &:focus-visible {
      border-radius: $error-message-btn-focus-border-radius;
      box-shadow: $error-message-btn-focus-box-shadow;

      @include retina {
        box-shadow: $error-message-btn-focus-box-shadow-2x;
      }
    }

    &:-moz-focusring {
      border-radius: $error-message-btn-focus-border-radius;
      box-shadow: $error-message-btn-focus-box-shadow;

      @include retina {
        box-shadow: $error-message-btn-focus-box-shadow-2x;
      }
    }
  }
}

#errorMessage {
  margin-right: 14px;
}

#errorShowMore,
#errorShowLess {
  display: inline;
  border: none;
  background: transparent;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: underline;
  padding: 0 2px;
  cursor: pointer;
}

#errorMessageRight {
  position: absolute;
  right: 8px;
  top: $error-message-btn-dismiss-offset;
}

#errorClose {
  width: 16px;
  height: 16px;
  border: none;
  background: transparent;
  overflow: hidden;
}

#errorMoreInfo {
  background-color: $error-more-info-bg;
  color: #000;
  padding: 8px;
  border: none;
  margin: 7px 0 0 0;
  width: calc(100% + 28px);
  font-family: monospace, monospace; // Fix font-size in Chrome
  font-size: $font-size-base;
  line-height: calc(4 / 3);
  margin: rem(7) (-28px) rem(6) 0;
  resize: vertical;

  &:focus {
    border-radius: $error-message-btn-focus-border-radius;
    box-shadow: $error-message-btn-focus-box-shadow;

    @include retina {
      box-shadow: $error-message-btn-focus-box-shadow-2x;
    }
  }
}

.clearBoth {
  display: none;
}
