//
// Findbar
//

.findbar {
  flex-wrap: wrap;
  position: absolute;
  left: $findbar-offset-x;
  top: $findbar-offset-y;
  z-index: $z-index-findbar;
  padding: $findbar-padding;
  background-color: $findbar-bg;
  border-radius: $findbar-border-radius;
  box-shadow: $findbar-box-shadow;

  &.wrapContainers {
    flex-direction: column;
    align-items: flex-start;
  }

  &::before {
    content: "";
    position: absolute;
    left: $findbar-pointer-offset-x;
    top: -9px;
    border: solid transparent;
    border-width: 0 8px 8px 8px;
    border-bottom-color: rgba(0, 0, 0, 0.2);

    @include retina {
      border-bottom-color: rgba(0, 0, 0, 0.15);
      filter: blur(0.5px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: $findbar-pointer-offset-x;
    top: -8px;
    width: 16px;
    border: solid transparent;
    border-width: 0 8px 8px 8px;
    border-bottom-color: #fff;
  }

  &,
  > *,
  .splitToolbarButton {
    display: flex;
    align-items: center;
  }

  > * {
    height: $findbar-height;
    pointer-events: none;

    > * {
      pointer-events: all;
    }
  }

  #findbarOptionsOneContainer {
    @include state(".findbar.wrapContainers") {
      margin: $options-one-container-margin;
    }
  }

  #findbarOptionsTwoContainer {
    @include state(".findbar.wrapContainers") {
      margin: $options-two-container-margin;
    }
  }

  #findbarMessageContainer {
    height: auto;
  }

  #findInput {
    width: $find-input-width;

    &[data-status="pending"] {
      background-image: url("images/loading-small.png");
      background-repeat: no-repeat;
      background-position: center right $find-input-loading-x;
      background-size: 16px 17px;

      @include retina {
        background-image: url("images/loading-small@2x.png");
      }
    }

    &.notFound {
      color: $find-input-not-found-color;
      background-color: $find-input-not-found-bg;
    }
  }

  .splitToolbarButton {
    margin: $split-toolbar-btn-margin;
  }

  button {
    height: $findbar-btn-height;
    background: $findbar-btn-bg;
    border: $findbar-btn-border;
    border-radius: $findbar-btn-border-radius;
    padding: $findbar-btn-padding;
    margin: 0 $findbar-btn-margin-x;
    box-shadow: $findbar-btn-box-shadow;

    @include retina {
      box-shadow: $findbar-btn-box-shadow-2x;
    }

    &:hover {
      background: $findbar-btn-hover-bg;
      border-color: $findbar-btn-border-hover-color;
    }

    &:focus-visible {
      box-shadow: $findbar-btn-focus-box-shadow;
      position: relative;
      z-index: 1;

      @include retina {
        box-shadow: $findbar-btn-focus-box-shadow-2x;
      }
    }

    &:-moz-focusring {
      box-shadow: $findbar-btn-focus-box-shadow;
      position: relative;
      z-index: 1;

      @include retina {
        box-shadow: $findbar-btn-focus-box-shadow-2x;
      }
    }

    &:active,
    &.toggled {
      background: $findbar-btn-active-bg;
      border-color: $findbar-btn-border-active-color;

      &::before {
        position: relative;
        top: $findbar-btn-icon-active-offset;
      }
    }

    &[disabled] {
      pointer-events: none;

      &::before {
        opacity: 0.5;
      }
    }
  }

  @if $platform == "darwin" {
    #findPrevious {
      padding-left: 4px;
      padding-right: 5px;
      margin-right: 1px;
    }

    #findNext {
      padding-left: 5px;
      padding-right: 4px;
      margin-left: 0;
    }
  }

  .toolbarLabel {
    margin: $findbar-toolbar-label-margin;
    line-height: $toolbar-label-line-height; // Center vertically
  }

  #findResultsCount {
    color: $find-results-count-color;
    margin: $find-results-count-margin;
  }

  #findMsg {
    color: $find-message-color;
    margin: $find-message-margin;

    @include state(".findbar.wrapContainers") {
      margin: $find-message-wrap-containers-margin;
    }

    &:empty {
      display: none;
    }
  }
}
