//
// Icons
//

// Toolbar & secondary toolbar

.toolbar,
.secondaryToolbar {
  .print {
    @include icon("print");
  }

  .openFile::before {
    content: url(images/toolbarButton-openFile.png);
  }

  .download {
    @include icon("disk");
  }

  .bookmark::before {
    content: url(images/toolbarButton-bookmark.png);
  }
}

// Toolbar

.toolbar {
  #back {
    html[dir="ltr"] & {
      /*rtl:ignore*/
      @include icon("back");
    }

    html[dir="rtl"] & {
      /*rtl:ignore*/
      @include icon("forward");
    }
  }

  #forward {
    html[dir="ltr"] & {
      /*rtl:ignore*/
      @include icon("forward");
    }

    html[dir="rtl"] & {
      /*rtl:ignore*/
      @include icon("back");
    }
  }

  #sidebarToggle {
    /*rtl:ignore*/
    @include icon("application-side-expand");

    &.toggled {
      /*rtl:ignore*/
      @include icon("application-side-contract");
    }
  }

  #viewFind {
    @include icon("magnifier");
  }

  .pageUp {
    @include icon("page-up");
  }

  .pageDown {
    @include icon("page-down");
  }

  .zoomIn {
    @include icon("zoom-in");
  }

  .zoomOut {
    @include icon("zoom-out");
  }

  #secondaryToolbarToggle {
    @include icon("secondary-toolbar-toggle");
  }
}

// Findbar

html[dir='ltr'] .toolbarButton.findPrevious::before {
  /*rtl:ignore*/
  content: url(images/findbarButton-previous.png);
}
html[dir='rtl'] .toolbarButton.findPrevious::before {
  /*rtl:ignore*/
  content: url(images/findbarButton-previous-rtl.png);
}

html[dir='ltr'] .toolbarButton.findNext::before {
  /*rtl:ignore*/
  content: url(images/findbarButton-next.png);
}
html[dir='rtl'] .toolbarButton.findNext::before {
  /*rtl:ignore*/
  content: url(images/findbarButton-next-rtl.png);
}

// Secondary toolbar

.secondaryToolbar {
  .firstPage {
    @include icon("first-page");
  }

  .lastPage {
    @include icon("last-page");
  }

  .rotateCw {
    @include icon("rotate-cw");
  }

  .rotateCcw {
    @include icon("rotate-ccw");
  }

  .selectTool {
    @include icon("select-tool");
  }

  .handTool {
    @include icon("hand-tool");
  }

  .scrollVertical {
    @include icon("scroll-vertical");
  }

  .scrollHorizontal {
    @include icon("scroll-horizontal");
  }

  .scrollWrapped {
    @include icon("scroll-wrapped");
  }

  .spreadNone {
    @include icon("spread-none");
  }

  .spreadOdd {
    @include icon("spread-odd");
  }

  .spreadEven {
    @include icon("spread-even");
  }

  .documentProperties {
    @include icon("information");
  }
}

// Toolbar sidebar

#toolbarSidebar {
  #viewThumbnail {
    @include icon("view-thumbnail");
  }

  #viewOutline {
    @include icon("bookmark");
  }

  #viewAttachments {
    @include icon("attach");
  }
}

// Sidebar

.outlineItemToggler {
  @include icon("treeitem-expanded", 9px);

  &.outlineItemsHidden {
    html[dir='ltr'] & {
      /*rtl:ignore*/
      @include icon("treeitem-collapsed", 9px);
    }

    html[dir='rtl'] & {
      /*rtl:ignore*/
      @include icon("treeitem-collapsed-rtl", 9px);
    }
  }
}
