//
// Outline view
//

#outlineView {
	@extend %sidebar-view;
}

.treeItem {
	display: flex;
	flex-wrap: wrap;
	position: relative;

	.treeWithDeepNesting > & {
		margin-left: 22px; // 12px left margin for outline item toggler
	}
}

.treeItems {
	flex: 1 1 100%;

	.treeItem > & {
		margin-left: 12px;
	}
}

.treeItem > a {
	@extend %sidebar-item-link-btn;
	flex: 1 1 100%;
	padding: rem(3.5) 0;
	position: relative;
}

.treeItemToggler {
	position: absolute;
	height: $outline-item-height;
	width: 9px;
	color: rgba(255, 255, 255, 0.5);
	left: -15px; // 6px right margin

	&::before {
		position: absolute;
		top: 50%;
		margin-top: -4.5px;
	}

	&.treeItemsHidden ~ .treeItems {
		display: none;
	}
}
