//
// Secondary toolbar
//

.secondaryToolbar {
  position: absolute;
  top: $secondary-toolbar-offset-y;
  right: $secondary-toolbar-offset-x;
  z-index: 30000;
  background-color: $secondary-toolbar-bg;
  padding: $secondary-toolbar-padding;
  border: $secondary-toolbar-border;
  border-radius: $secondary-toolbar-border-radius;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.48);
}

#secondaryToolbarButtonContainer {
  max-width: 200px;
  max-height: 400px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.secondaryToolbarButton {
  display: block;
  width: 100%;
  text-align: left;
  border: 0;
  background-color: $secondary-toolbar-btn-bg;
  height: $secondary-toolbar-btn-height;
  padding: $secondary-toolbar-btn-padding;
  position: relative;

  &::before {
    position: absolute;
    top: calc(50% - 8px);
    left: $secondary-toolbar-btn-icon-offset-x;
  }

  &:hover {
    background-color: $secondary-toolbar-btn-hover-bg;
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.55);

    &:hover {
      background-color: #e3e3e3;
    }
  }
}

.hiddenScrollModeButtons > .scrollModeButtons,
.hiddenSpreadModeButtons > .spreadModeButtons {
  display: none !important;
}

.horizontalToolbarSeparator {
  display: if($horizontal-toolbar-separator, block, none);
  height: $horizontal-toolbar-separator-height;
  background-color: $horizontal-toolbar-separator-bg;
  margin: $horizontal-toolbar-separator-margin;
}
