//
// Toolbar sidebar generic
//

#toolbarSidebar {
  flex: 0 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 30px;
  background-color: $toolbar-sidebar-bg;
  border-bottom: 1px solid $toolbar-sidebar-border-color;

  .splitToolbarButton {
    display: flex;
    height: 27px;
  }

  .toolbarButton {
    background-color: transparent;
    border: 1px solid #d9d9d9;
    border-bottom: 0;
    padding: 0 8px;

    &:hover {
      background-color: #d8eaf9;
    }

    &:active,
    &.toggled {
      background-color: #fff;
    }

    &[disabled] {
      pointer-events: none;

      &::before {
        opacity: 0.5;
      }
    }

    & + .toolbarButton {
      margin-left: -1px;
    }
  }
}
