//
// Toolbar buttons
//

.toolbarButton {
  position: relative;
}

// Label for screen readers
.toolbarButton > span:first-child {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: calc(100% - 17px);
  text-indent: -99em;
  overflow: hidden;
}

.toolbar {
  .toolbarButton {
    height: $toolbar-btn-height;
    background: $toolbar-btn-bg;
    border: $toolbar-btn-border;
    padding: $toolbar-btn-padding;
    margin: 0 $toolbar-btn-margin-x;
    border-radius: $toolbar-btn-border-radius;
    box-shadow: $toolbar-btn-box-shadow;

    @include retina {
      box-shadow: $toolbar-btn-box-shadow-2x;
    }

    &:hover {
      background: $toolbar-btn-hover-bg;
      border-color: $toolbar-btn-border-hover-color;
    }

    &:active,
    &.active {
      background: $toolbar-btn-active-bg;
      border-color: $toolbar-btn-border-active-color;
    }

    &[disabled] {
      pointer-events: none;

      &::before {
        opacity: 0.5;
      }
    }

    &::before {
      position: relative;
      z-index: 2;

      @include state(".toolbarButton:active", ".toolbarButton.active") {
        top: $toolbar-btn-icon-active-offset;
      }
    }

    .is-blurred & {
      background: $toolbar-btn-blurred-bg;
      box-shadow: $toolbar-btn-blurred-box-shadow;

      @include retina {
        box-shadow: $toolbar-btn-blurred-box-shadow-2x;
      }
    }
  }

  .dropdownToolbarButton {
    min-width: initial !important;
    max-width: initial !important;
    width: auto !important;
    margin: 0 $dropdown-toolbar-btn-margin-x;

    select {
      appearance: none;
      min-width: initial !important;
      width: auto !important;
      display: block;
      width: 100%;
      height: $dropdown-toolbar-btn-height;
      font-family: inherit;
      font-size: $dropdown-toolbar-btn-font-size;
      color: $dropdown-toolbar-btn-color;
      background: $dropdown-toolbar-btn-bg;
      background-blend-mode: $dropdown-toolbar-btn-bg-blend-mode;
      background-size: $dropdown-toolbar-btn-bg-size;
      border: $dropdown-toolbar-btn-border;
      border-radius: $dropdown-toolbar-btn-border-radius;
      padding: $dropdown-toolbar-btn-padding;
      line-height: 14px; // Center vertically
      box-shadow: $dropdown-toolbar-btn-box-shadow;

      @include retina {
        background-image: $dropdown-toolbar-btn-bg-2x;
        background-size: $dropdown-toolbar-btn-bg-size-2x;
        box-shadow: $dropdown-toolbar-btn-box-shadow-2x;
      }

      @-moz-document url-prefix() {
        padding: $-moz-dropdown-toolbar-btn-padding; // Compensate additional padding in Firefox
      }

      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 $dropdown-toolbar-btn-color;
      }

      &:hover {
        background-color: $dropdown-toolbar-btn-hover-bg;
        border-color: $dropdown-toolbar-btn-hover-border-color;
      }

      &:focus {
        background-color: $dropdown-toolbar-btn-focus-bg;
        border-color: $toolbar-field-focus-border-color;
      }
    }

    #customScaleOption {
      display: none;
    }

    #pageWidthOption {
      border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
    }
  }
}

