//
// Toolbar
//

.toolbar {
  height: $toolbar-height;
  left: 0;
  right: 0;
  z-index: 9999;
  cursor: default;
  background-color: $toolbar-bg;
  border-bottom: 1px solid $toolbar-border-color;
  position: relative;

  &,
  * {
    box-sizing: border-box;
  }

  #toolbarViewer {
    display: flex;
    justify-content: space-between;
    height: $toolbar-height;
  }

  #toolbarViewerLeft,
  #toolbarViewerMiddle,
  #toolbarViewerRight {
    display: flex;
    align-items: center;
  }

  #toolbarViewerRight {
    order: 2;
  }

  .splitToolbarButton {
    display: flex;
  }

  @if $toolbar-btn-separator-list {
    @each $btn in $toolbar-btn-separator-list {
      #{$btn} {
        margin-right: $toolbar-btn-separator-spacing;
        position: relative;

        &::after {
          content: if($toolbar-btn-visual-separator, "", none);
          position: absolute;
          top: $toolbar-btn-separator-top;
          right: $toolbar-btn-separator-right;
          width: $toolbar-btn-separator-width;
          background-color: $toolbar-btn-separator-bg;
          height: $toolbar-btn-separator-height;
        }
      }
    }
  }

  #numPages {
    min-width: $numPages-min-width;
  }
}
