//
// Toolbar field
//

.toolbarField {
  height: $toolbar-field-height;
  padding: $toolbar-field-padding;
  margin: $toolbar-field-margin;
  border: $toolbar-field-border;
  color: $toolbar-field-color;
  font-family: inherit;
  font-size: $toolbar-field-font-size;
  background: $toolbar-field-bg;
  border-radius: $toolbar-field-border-radius;
  box-shadow: $toolbar-field-box-shadow;

  @include retina {
    box-shadow: $toolbar-field-box-shadow-2x;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::placeholder {
    color: $toolbar-field-placeholder-color;
    opacity: 1;
  }

  &:hover {
    border-color: $toolbar-field-hover-border-color;
  }

  &:focus {
    border-color: $toolbar-field-focus-border-color;
    box-shadow: $toolbar-field-focus-box-shadow;

    @include retina {
      box-shadow: $toolbar-field-focus-box-shadow-2x;
    }
  }

  @if $platform == "generic" {
    &:invalid {
      box-shadow: none; // Hide red box-shadow in Firefox while loading
    }
  }

  &[type="number"] {
    -moz-appearance: textfield; // Hide the stepper arrows in Firefox
  }

  &[type="checkbox"] {
    width: $checkbox-size;
    height: $checkbox-size;
    box-shadow: $checkbox-box-shadow;

    @-moz-document url-prefix() {
      width: $-moz-checkbox-size;
      height: $-moz-checkbox-size;
      margin: $-moz-checkbox-margin;
    }
  }
}

.toolbarLabel {
  color: $toolbar-label-color;
  white-space: nowrap;
  margin: $toolbar-label-margin;
  user-select: none;
}
