//
// Toolbar
//

.toolbar {
  height: $toolbar-height;
  left: 0;
  right: 0;
  z-index: 9999;
  cursor: default;
  background: $toolbar-bg;
  border-bottom: $toolbar-border;
  padding: $toolbar-padding;
  position: relative;

  @include retina {
    background: $toolbar-bg-2x;
  }

  .is-blurred & {
    background: $toolbar-blurred-bg;

    @include retina {
      background: $toolbar-blurred-bg-2x;
    }
  }

  #toolbarViewer {
    display: flex;
    justify-content: space-between;
    height: $toolbar-height;
  }

  #toolbarViewerLeft,
  #toolbarViewerMiddle,
  #toolbarViewerRight {
    display: flex;
    align-items: center;
  }

  #toolbarViewerLeft,
  #toolbarViewerRight {
    @media all and (min-width: 901px) {
      flex: 1 1 0; // Center middle viewer on large screens
    }
  }

  #toolbarViewerRight {
    justify-content: flex-end;
    order: 2;
  }

  .splitToolbarButton {
    display: flex;
  }

  @if $toolbar-btn-separator-list {
    #{$toolbar-btn-separator-list} {
      margin-right: $toolbar-btn-separator-spacing;
      position: relative;

      @if $toolbar-btn-visual-separator {
        &::after {
          content: if($toolbar-btn-visual-separator, "", none);
          position: absolute;
          top: $toolbar-btn-separator-top;
          right: $toolbar-btn-separator-right;
          width: $toolbar-btn-separator-width;
          background-color: $toolbar-btn-separator-bg;
          height: $toolbar-btn-separator-height;
        }
      }
    }
  }

  @if $toolbar-btn-visual-separator {
    .dropdownToolbarButton {
      &::after {
        top: $toolbar-btn-separator-top + $toolbar-field-height - $toolbar-btn-separator-height;
        right: $toolbar-btn-separator-right + 1px;
      }
    }
  }

  #pageNumber {
    width: $page-number-width;
    text-align: right;
  }

  #numPages {
    min-width: $num-pages-min-width;
    color: $num-pages-color;
    margin-left: 0;
  }

  #openFile,
  #viewBookmark {
    display: none !important;
  }

  @if $mode == "production" {
    #presentationMode,
    #print,
    #download,
    #secondaryToolbarToggle {
      display: none !important;
    }
  }
}
