//
// Toolbar field
//

.toolbarField {
  height: $toolbar-field-height;
  padding: $toolbar-field-padding;
  margin: 0 3px;
  border: $toolbar-field-border;
  color: $toolbar-field-color;
  font-family: inherit;
  font-size: $toolbar-field-font-size;
  background-repeat: no-repeat;
  background-position: 3px center;
  background-size: 16px 17px;
  -moz-appearance: textfield; // Hide the stepper arrows in Firefox

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::placeholder {
    color: $toolbar-field-placeholder-color;
    opacity: 1;
  }

  &:hover {
    border-color: $toolbar-field-hover-border-color;
  }

  &:focus {
    border-color: $toolbar-field-focus-border-color;
  }

  &[type="checkbox"] {
    height: auto;
  }

  &.visiblePageIsLoading {
    background-image: url("images/loading-small.png");

    @include retina {
      background-image: url("images/loading-small@2x.png");
    }
  }
}

.toolbarLabel {
  color: $toolbar-label-color;
  white-space: nowrap;
  margin-left: 1px;
  user-select: none;
}
