
.textLayer ::selection {
	color: transparent;
	background: rgb(252, 232, 151);
}

.textLayer {
	opacity: 1;
	mix-blend-mode: multiply;
	//pointer-events: none;
	user-select: none;
	z-index: 1;
}

.cursor-pointer .page {
	cursor: pointer;
}

.cursor-text .page {
	cursor: text;
}
