//
// Variables
//

:root {
  --sidebar-width: 200px;
}


// Base

$font-family-sans-serif:  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, -apple-system, sans-serif;
//$font-family-monospace: TBD
$font-family-base:        $font-family-sans-serif;

$font-size-base: rem(11);

// Outline view
$outline-item-height: rem(20);
