//
// Icon
//

@mixin icon($icon) {
  &::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background-image: icon-url("#{$icon}.png");
    background-size: 100%;

    @include retina {
      background-image: icon-url("#{$icon}@2x.png");
    }
  }
}
