//
// Popover pointer
//

@use "sass:math";

@mixin popover-pointer($width, $height, $offset: 50%, $position: null) {
	$border-x: math.div($width, 2);
	$border-y: $height;

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: $offset;
		border: solid transparent;
		border-width: $border-y $border-x;
		transform: translateX(-$border-x);
	}

	#{if($position == "bottom", "&", "&[class*='bottom']")} {
		&::before,
		&::after {
			border-top-width: 0;
		}

		&::before {
			top: (-$border-y - 1px);
			border-bottom-color: var(--color-panedivider);
		}

		&::after {
			top: -$border-y;
			border-bottom-color: var(--color-background);
		}
	}

	#{if($position == "top", "&", "&[class*='top']")} {
		&::before,
		&::after {
			border-bottom-width: 0;
		}

		&::before {
			bottom: (-$border-y - 1px);
			border-top-color: var(--color-panedivider);
		}

		&::after {
			bottom: -$border-y;
			border-top-color: var(--color-background);
		}
	}

	#{if($position == "top", "&", "&[class*='left']")} {
		&::before,
		&::after {
			left: 20px;
		}
	}

	#{if($position == "top", "&", "&[class*='right']")} {
		&::before,
		&::after {
			left: unset;
			right: 20px;
			transform: translateX($border-x);
		}
	}

}
