// Can't combine the following two or it would make the specificity higher than
// the body.flow-mode-paginated selector below.

html {
	margin: 0 !important;
	padding: 0 !important;
}

body {
	margin: 0 !important;
	padding: 0 !important;
}

.swipe-indicator-left, .swipe-indicator-right {
	display: none;
}

body.flow-mode-scrolled {
	@import "layout/scrolled";
}

body.flow-mode-paginated {
	@import "layout/paginated";
}
