@namespace epub url('http://www.idpf.org/2007/ops');

/* Can't combine the following two or it would make the specificity higher than the body.paginated selector below. */

html {
	margin: 0 !important;
	padding: 0 !important;
}

body {
	margin: 0 !important;
	padding: 0 !important;
}

body > .sections > .section-container ::selection {
	background-color: var(--selection-color);
}

body.scrolled > .sections {
	margin-inline: 40px;
}

body.scrolled > .sections > .section-container {
	margin-inline: auto;
	margin-bottom: 100px;
	max-width: 800px;
}

body.scrolled replaced-body * {
	max-width: calc(min(100vw - 80px, 100%));
}

body.paginated {
	margin: 40px !important;
	overflow: hidden;
	overscroll-behavior: none;
}

body:not(.paginated) :is(.swipe-indicator-left, .swipe-indicator-right) {
	display: none;
}

.swipe-indicator-left, .swipe-indicator-right {
	position: absolute;
	top: calc(50% - 50px);
	width: 80px;
	height: 100px;
	background-color: #bdbdbd;
	z-index: 9999;
	pointer-events: none;
}

.swipe-indicator-left {
	left: calc((min(var(--swipe-amount, 0), 1) - 1) * 80px);
	opacity: calc(min(var(--swipe-amount, 0), 1) * 0.8);
	border-radius: 0 80px 80px 0;
}

.swipe-indicator-right {
	left: calc(100vw + (max(var(--swipe-amount, 0), -1) * 80px));
	opacity: calc(max(var(--swipe-amount, 0), -1) * -0.8);
	border-radius: 80px 0 0 80px;
}

body.paginated > .sections {
	/* https://github.com/readium/readium-css/blob/5830114/docs/ua-reference/readium1.css#L65 */
	width: calc(100vw - 80px);
	height: calc(100vh - 80px);
	min-height: calc(100vh - 80px);
	max-height: calc(100vh - 80px);
	position: relative;
	top: 0;
	columns: auto 2;
	column-gap: 60px;
	column-fill: auto;
	overflow: hidden;
	overscroll-behavior: none;
}

body.paginated > .sections > .section-container {
	/* In an ideal world, this would be `break-after: column`. Unfortunately, most browsers don't actually support
	   that rule. Fortunately, a huge margin-bottom works fine too. */
	margin-bottom: 9999px;
}

body.paginated.animating-page-turn > #annotation-overlay {
	display: none;
}

body.paginated replaced-body * {
	max-width: calc(50vw - 80px);
}

@media (max-width: 800px) {
	body.paginated > .sections {
		columns: auto 1;
	}

	body.paginated replaced-body * {
		max-width: 100vw;
	}
}

replaced-body {
	font-family: var(--content-font-family, "Georgia"), serif;
	font-size: calc(var(--content-scale) * 13pt) !important;
	line-height: 1.4;
	text-align: justify;
}

replaced-body p {
	/* Really enforce some of our formatting choices on body paragraphs */
	font-family: var(--content-font-family, "Georgia"), serif;
	line-height: 1.4 !important;
}

replaced-body a {
	text-decoration: none;
}

replaced-body sup {
	/* Prevent footnote superscripts from affecting the line-height */
	line-height: 1 !important;
	font-size: 0.8em !important;
	vertical-align: baseline !important;
	position: relative !important;
	top: -0.5em !important;
}
