//
// Light theme
//

//
// Base colors
//

$body-bg:    #ebebeb;
$text-color: #000;

//
// Component colors
//

// Toolbar
$toolbar-border-color: #bdbdbd;

// Sidebar
$sidebar-bg:           $body-bg;
$sidebar-border-color: #bdbdbd;

// Thumbnail view
$thumbnail-selection-ring-focus-bg:    rgba(0, 0, 0, 0.2);
$thumbnail-selection-ring-selected-bg: rgba(0, 0, 0, 0.1);
$thumbnail-image-border-color: transparent;

// Outline & attachment view
$sidebar-item-link-btn-color: $text-color;

// PDF viewer
$page-bg: #fff;
$page-outline: none;
$page-outline-offset: initial;

//
// Spacing and typography
//

:root {
  --sidebar-width: 200px;
}

// Base

$font-family-sans-serif:  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, -apple-system, sans-serif;
//$font-family-monospace: TBD
$font-family-base:        $font-family-sans-serif;

$font-size-base: rem(11);

// Outline view
$outline-item-height: rem(20);
